---
layout: archive
title: "Talks and Presentations"
permalink: /talks/
author_profile: true
---

{% assign upcoming_talks = site.talks | where: "upcoming", true | sort: "date" %}
{% assign past_talks = site.talks | where: "upcoming", false | sort: "date" | reverse %}

{% if upcoming_talks.size > 0 %}
<h2>Upcoming</h2>
<hr />
{% for post in upcoming_talks %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endif %}

{% if past_talks.size > 0 %}
<h2>Past</h2>
<hr />
{% for post in past_talks %}
  {% include archive-single-talk.html %}
{% endfor %}
{% endif %}
